<main class="main">

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Let’s transform ideas into real, scalable systems. Send me a message, and together we’ll bring your project to life with precision, creativity, and clean engineering.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4 g-lg-5">
          <div class="col-lg-5">
            <div class="info-box" data-aos="fade-up" data-aos-delay="200">
              <h3>Contact Info</h3>
              <p><%= data.caption %></p>
              <% data.info.map((v) => { %>
                <div class="info-item" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                    <i class="<%= v.icon %>"></i>
                  </div>
                  <div class="content">
                    <h4><%= v.title %></h4>
                    <p><%= v.line1 %></p>
                    <p><%= v.line2 %></p>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
              <h3>Get In Touch</h3>
              <p>Your Next Project Starts With a Message.</p>

              <div class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">

                  <div class="col-md-6">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required="">
                  </div>

                  <div class="col-md-6 ">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required="">
                  </div>

                  <div class="col-12">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required="">
                  </div>

                  <div class="col-12">
                    <textarea class="form-control" id="message" name="message" rows="6" placeholder="Message" required=""></textarea>
                  </div>

                  <div class="col-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>

                    <button class="rounded" onclick="sendMail()"
                    style="border: 1px solid var(--fore-btn-color); color: var(--fore-btn-color); padding: 5px 10px; transition-duration: .2s; background-color: var(--background-color-transparent);"
                    >Send Message</button>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->
    <script src="/js/contact.js"></script>
  </main>